html {
    size: 90%;
    background-image: url(../Resources/Sakura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}
.box {
    background-color:  #00000000;
}
.card {
    background-color: #FFFFFF85;
    backdrop-filter: blur(6px);
}
.tabs{
          
        }